.cimg{
  max-height: 86.5vh;
}
.jumbo{position: absolute; top: 36%; left: 28%;}
.cardimage{max-height: 100 px}
.about {text-align: center;}
html{scroll-behavior: smooth; }
body{background-color: black}
